.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
}

.caption span.border {
  background-color: #111;
  color: #fff;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
}

.dranks {
  left: 0;
  top: 0%;
  width: 100%;
  text-align: center;
  color: #000;
}

.dranks span.border {
  background-color: #111;
  color: #fff;
  padding: 7px;
  font-size: 20px;
  letter-spacing: 7px;
}

.loader {
  margin-left: auto;
  margin-right: auto;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.login {
  margin: auto;
  position: absolute;
  width: 30%;
  text-align: center;
  top: 40%;
  bottom: 0;
  left: 0;
  right: 0;
}
